<h1 class="principal"> /character references</h1>

<div class="container">
<p class="textos">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac est elit. Vivamus egestas ac est non dictum. Ut mollis aliquet efficitur. Aenean quis arcu eget diam feugiat ultricies non eu nibh. Duis imperdiet, felis in hendrerit porttitor, sem nisi pulvinar leo, id tristique nisl leo nec libero. Vestibulum placerat gravida ligula, ut consectetur nibh condimentum eget. Vestibulum et placerat turpis. Fusce pretium finibus felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc ut felis placerat, ullamcorper elit a, tincidunt mauris. Duis lacinia sapien at ante imperdiet, ac ullamcorper dui viverra. Donec at leo ut quam tincidunt sagittis. Quisque lectus tellus, condimentum in ipsum vitae, hendrerit aliquam mauris.

Integer lorem nisi, convallis non sem in, imperdiet maximus libero. Vestibulum ullamcorper ornare fermentum. Mauris suscipit scelerisque tortor, vel dignissim nisl iaculis id. Sed accumsan ligula magna, et scelerisque quam eleifend sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in orci porttitor, faucibus risus quis, sollicitudin diam. Maecenas egestas cursus iaculis. Suspendisse pretium mattis laoreet. Integer in libero ultrices, hendrerit nulla ac, eleifend odio. In lacinia tortor at arcu consectetur viverra. Nulla facilisi.

</p>
</div>
